.brand a, .brand a:hover, .brand a:active {
  color: #333;
  box-shadow: none;
  background: none;
}

h1, h2 {
  font-weight: 100;
}

.button.icon-heart {
  background-color: red;
}

[class*="icon-"]::before {
  width: auto;
  margin-right: .4em;
  margin-left: 0;
}

.menu [class*="icon-"]::before {
  margin: .2em;
}

.hero {
  background: #000;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 300px;
  padding: 1px 0px;
  box-shadow: 0px 0px 0px 10000em rgba(0, 0, 0, 0.05) inset;
}

.hero iframe {
  position: relative;
  top: 50%;
  margin: 18vh auto;
  width: 95%;
  max-width: 1280px;
  height: 70vh;
  max-height: 1080px;
}

.hero h1 {
  font-size: 3em;
  line-height: 1;
  padding: 0px;
}

.hero p {
  text-shadow: 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.8);
}

.hero .links a {
  text-shadow: none;
}

.hero .keepgoing {
  display: block;
  color: #fff;
  font-size: 2em;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease 0s;
  opacity: .7;
  animation: bounce 1s ease infinite;
}

.hero .keepgoing:active,
.hero .keepgoing:focus {
  box-shadow: none;
  background: none;
}

section.notice {
  width: 100%;
  margin-top: 50px;
  background: none;
  text-shadow: none;
  color: #333;
  padding: 10px;
  background: rgba(250, 0, 0, .2);
  margin-top: 0;
  text-align: center;
}
section.notice a {
  color: #333;
  text-decoration: underline;
}

.subtitle {
  text-align: center;
}

section.row {
  background: #fff;
  text-align: left;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  border-spacing: 3em;
}

.notice + section.row {
  padding-top: 80px;
}

section.names {
  padding-top: 0;
  text-align: center;
}
.names p {
  text-align: center;
}
.names .pseudo {
  width: 100%;
}



.team {
  margin: 50px auto 0;
  display: block;
  width: 100%;
  max-width: 2000px;
}

section.contact {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;
}

h2.contact {
  text-align: center;
  margin-bottom: 20px;
}


nav {
  background: #000;
  color: #fff;
}

nav .pseudo,
nav .brand,
nav .brand a,
nav a.pseudo.button {
  color: #fff;
}

.row img {
  width: 100%;
}

h2 {
  margin: 0px;
  padding: 0;
  line-height: 1;
}

.social {
  float: right;
}


@keyframes bounce {
  from { bottom: 20px; }
  70% { bottom: 10px; }
  to { bottom: 20px; }
}

.big {
  display: auto;
}
.small {
  display: none;
}


nav .menu {
  min-height: 0;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: auto;
  margin-right: .3em;
}

nav .menu {
  background: #000;
}

footer {
  background: #000;
  color: #aaa;
  padding: 10px 20px;
  margin-top: 100px;
}

.logo-row {
  text-align: center;
}

.logo-row img {
  display: inline-block;
  vertical-align: middle;
  max-width: 25%;
  max-height: 150px;
  width: auto;
  height: auto;
  padding: 2.5%;
}

.logo-row .high img {
    max-width: 25%;
}

.logo-row h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  display: block;
}

img#vanidadUPV {
  max-width: 30%;
}

#colophon {
  margin-top: 50px;
  text-align: center;
}

#colophon #project-logo {
  max-width: 400px;
  display: inline-block;
}

#nav-buttons {
  text-align: center;
}

@media (max-width:60em) {
  
  .big {
    display: none;
  }
  .small {
    display: block;
  }
  
  nav .menu > * {
    display: inline-block;
    margin: .3em .3em;
  }
  
  nav .menu > a {
    padding: .3em .6em;
  }
}

@media (max-width: 40em) {
  nav .menu {
    margin: 0;
    padding-right: .3em;
  }
  
  nav .menu > * {
    margin: .3em .1em;
  }
  
  nav .menu .text {
    display: none;
  }
}

@media (max-width: 21em) {
  body {
    font-size: .9em;
  }
}
.popup {
    background-color: red;
    color: #fff;
    display: block;
    position: relative;
    top: 60px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.popup a {
    color: #fff;
}
