.navbar-default {
    background-color: #000;
    border: 0;
    color: #fff;
    height: 3em;
}

.navbar-default .navbar-brand {
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #bfbfbf;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.video {
    background: #000;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    min-height: 300px;
    padding: 1px 0px;
    box-shadow: 0px 0px 0px 10000em rgba(0, 0, 0, 0.05) inset;
}

.video iframe {
    position: relative;
    top: 50%;
    margin: 18vh auto;
    width: 95%;
    max-width: 1280px;
    height: 70vh;
    max-height: 1080px;
}

section {
    padding: 100px 0;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

#media img {
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    max-width: 25%;
    max-height: 150px;
    width: auto;
    height: auto;
    padding: 2.5%;
}

#values img {
    background-color: #fff;
    max-height: 256px;
}

#social .icon {
    display: flex;
    align-items: center;
    max-height: 256px;
}

footer {
    padding: 100px 0;
}

/* Tech */
.background-image {
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    margin-top: 3em;
}

.site-heading {
    padding: 150px 0;
    text-align: center;
    color: #fff;
}


/* Partners */
#partners .center-vertical {
    display: flex;
    align-items: center;
    max-height: 256px;
}