section{
	    font-family: "Open Sans", arial, sans-serif;
			line-height: 1.86;
}

.quote {
  -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);

  opacity: 0;

}

.line {
  width: 0px;
  height: 1px;
  background: #fff;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 18px;
}

.quote.active {
  opacity: 1;
}

.quote.active .line {
  width: 200px;
}

img {
    -webkit-animation: adjustHue 10s infinite;
    -moz-animation: adjustHue 10s infinite;
    animation: adjustHue 10s infinite;
}

@-webkit-keyframes adjustHue {
  50% {
    -webkit-filter: saturate(150%) hue-rotate(-35deg);
  }
}

@-moz-keyframes adjustHue {
  50% {
    -moz-filter: saturate(150%) hue-rotate(-35deg);
  }
}

@keyframes adjustHue {
  50% {
    filter: saturate(150%) hue-rotate(-35deg);
  }
}


.mouseover-helper-icon,
.mouseover-helper-frame::before,
.mouseover-helper-frame::after,
.mouseover:after {
    transition: All 0.3619s ease;
    -webkit-transition: All 0.3619s ease;
    -moz-transition: All 0.3619s ease;
    -o-transition: All 0.3619s ease;
}
.hi {
    display: block;
    width: 300px;
    height: 500px;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.hi{
		display: block;
    width: 150px;
    height: 290px;
	}
}
/*------ 3D picture style ------*/

.poster-3d *,
.poster-3d *:after,
.poster-3d *:before,
.poster-3d:after {
    transition-delay: 0s!important;
    -webkit-transition-delay: 0s!important;
}
.poster-3d.mouseover:hover:after {
    background: rgba(0, 0, 0, .15);
}
.poster-3d *[class*="layer-"] {
    z-index: 1;
}
.poster-3d:not(.animation-disabled),
.poster-3d:not(.animation-disabled) *[class*="layer-"] {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.poster-3d.shadow:hover {
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}
.poster-3d .shine {
    opacity: 0;
    z-index: 1;
}
.poster-3d:hover .shine {
    opacity: 1;
}
/*mouseover*/

.mouseover {
    overflow: hidden;
    background-size: cover;
    background-position: center top;
}
.mouseover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    content: "";
}
.mouseover:hover:after {
    background: rgba(0, 0, 0, .4);
}
.mouseover:hover:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
}
.mouseover-helper-frame {
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 40px;
    right: 40px;
    bottom: 40px;
    opacity: 0;
}
.mouseover:hover .mouseover-helper-frame {
    opacity: 1;
}
.mouseover-helper-frame:before,
.mouseover-helper-frame:after {
    border: 1px rgba(255, 255, 255, .4) solid;
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
}
.mouseover:hover .mouseover-helper-frame:before,
.mouseover:hover .mouseover-helper-frame:after {
    width: 100%;
    height: 100%;
}
.mouseover-helper-frame:before {
    border-top-color: transparent;
    border-right-color: transparent;
    left: 0;
    bottom: 0;
}
.mouseover-helper-frame:after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    right: 0;
    top: 0;
}
.mouseover-helper-icon {
    width: 69px;
    height: 69px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -34.5px 0 0 -34.5px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 0;
}
.mouseover-helper-icon:before {
    width: 100%;
    height: 1px;
    left: 50%;
    margin-left: -34.5px;
    top: 34px;
    content: "";
    background: #fff;
    position: absolute;
}
.mouseover-helper-icon:after {
    height: 100%;
    width: 1px;
    top: 50%;
    margin-top: -34.5px;
    left: 34px;
    content: "";
    background: #fff;
    position: absolute;
}
.mouseover:hover .mouseover-helper-icon {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
}
body.mobile .mouseover .mouseover-helper-frame,
body.mobile .mouseover .mouseover-helper-icon,
body.mobile .mouseover:after {
    display: none;
}
.mouseover-simple {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}
.mouseover-simple:after,
.mouseover-simple:before {
    content: "";
    position: absolute;
    height: 1px;
    right: 50%;
    left: 50%;
    background: currentColor;
    top: 50%;
}
.mouseover-simple.size-1:after,
.mouseover-simple.size-1:before {
    height: 2px;
    margin-top: -2px;
}
.mouseover-simple:before {
    left: 50%;
    right: 50%;
}
.mouseover-simple:hover:after,
.mouseover-simple.active:after {
    left: -5px;
}
.mouseover-simple:hover:before,
.mouseover-simple.active:before {
    right: -5px;
}
.full-size {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/*------ 3D picture style ------*/
