@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Lato:100,300';
@import 'navbar.css';
@import 'et-line.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css';

/*************************  BASIC *************************/

body {
    color: #111;
    font-size: 14px;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden; /* Fix */
}

::-moz-selection {
    color: #fff;
    background:#000;
}

::-webkit-selection {
    color: #fff;
    background:#000;
}

::selection {
    color: #fff;
    background:#000;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display:block;

}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/************************* SINGLE PAGE *************************/

.background-image {
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    margin-top: 80px;
}

.site-heading {
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.site-heading h1 {
    font-size: 4em;
    font-weight: 100;
    margin-top: 0;
}

.subheading {
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    font-size: 1.5em;
    width: 40%;
    margin: 0 auto;
}

.subheading a {
    text-decoration: none;
}

/************************* FORM *************************/

input {
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
    border: 1px solid rgba(0,0,0, .1);
    padding-left: 7px;
    padding-right: 7px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);

}

input:hover{
    border-color: rgba(0,0,0, .2);
}

input:focus{
    color: #111;
    border-color: rgba(0,0,0, .7);

    -webkit-box-shadow: 0 0 3px rgba(0,0,0, .3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0, .3);
    box-shadow: 0 0 3px rgba(0,0,0, .3);
    outline: none;
}

textarea {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    color: #777;
    border-color: rgba(0,0,0, .1);
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea:hover {
    border-color: rgba(0,0,0, .2);
}

textarea:focus {
    color: #111;
    border-color: rgba(0,0,0, .7);
    -webkit-box-shadow: 0 0 3px rgba(21,21,21, .3);
    -moz-box-shadow: 0 0 3px rgba(21,21,21, .3);
    box-shadow: 0 0 3px rgba(21,21,21, .3);
}


/************************* INDEX PAGE *************************/

.cover {
    background-image: url("../../img/portada2.png");
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.full {
    position: relative;
    background: rgba(3, 3, 3, .8);
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    display: table;
}

.title {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 8em;
    font-weight: 100;
    padding: 0 30%;
}

.title span {
    font-weight: 300;
}

.tour {
    height: 1000px;
}

.awards .container {
    padding: 7vw 0;
}

/** Sponsor Slide **/

.sponsor-slide-item {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 140px;
    text-align: center;
    opacity: .6;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}

.sponsor-slide-item img {
    max-height: 80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sponsor-slide {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-color: rgb(255,255,255, .08);
}

/** Rotate words **/

.rw-words {
    display: inline;
}

.rw-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 9s linear infinite 0s;
    -ms-animation: rotateWord 9s linear infinite 0s;
    animation: rotateWord 9s linear infinite 0s;
}

.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}

.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}

.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}


.concept {
    padding: 12vh 0;
}
.section-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}

.alt-features-grid {
    margin-top: -70px;
}

.alt-features-item {
    margin-top: 70px;
    text-align: center;
}

.alt-features-icon {
    padding-top: 10px;
    font-size: 48px;
    line-height: 1.3;
    color: #111;
}

.alt-features-icon img {
    width: 100%;
}

.alt-features-title {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.alt-features-descr {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    text-align: left;
}

/************************* TEAM PAGE *************************/

.team-item {}

.team-item-image {
    position: relative;
    overflow: hidden;
}

.team-item-image img {
    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.team-item-image:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team-item-detail {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px 23px 55px;
    font-size: 14px;
    font-weight: 300;
    color: #777;
    text-align: center;
    z-index: 2;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-descr {
    color: #777;
    text-align:center;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.team-item-name {
    margin-top: 23px;
    font-size: 15px;
    text-transform: uppercase;
}

.team-item-role {
    margin-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #aaa;
}

.team-social-links {
    font-size: 14px;
    cursor: pointer;
}

.team-social-links a {
    display: inline-block;
    padding: 3px 7px;
    color: rgba(0,0,0, .4);
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

/* Hover state */
.team-item:hover .team-item-image:after{
    background: rgba(255,255,255, .93);
}
.team-item:hover .team-item-detail{
    opacity: 1;
}
.team-item:hover .team-item-descr{
    color: #111;
}
.team-social-links a:hover{
    color: rgba(0,0,0, .75);
}

/* Mobile touch */
.team-item.js-active .team-item-image:after{
    background: rgba(255,255,255, .93);
}
.team-item.js-active .team-item-detail{
    opacity: 1;
}
.team-item.js-active .team-item-descr{
    color: #111;
}
.team-item.js-active .team-social-links a:hover{
    color: rgba(0,0,0, .75);
}


/************************* TEAM PAGE *************************/

footer {
    text-align: center;
    font-size: 12px;
    background-color: #f8f8f8;
    padding: 6vw 0 3vw 0;
}

footer a {
    color: #888;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

footer a:hover {
    color: #111;
    text-decoration: underline;
}

.footer-copy {
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.footer-made {
    font-size: 11px;
    color: #999;
}

.footer-social-links {
    font-size: 14px;
    margin-bottom: 12vh;
}

.footer-social-links a {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 6px;
    text-align: center;
    display: inline-block;
    color: #111;
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.footer-social-links a i,
.footer-social-links a span {
    position: relative;
    top: 0;
    left: 0; 
}

.footer-social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}

.footer-social-links a:hover {
    color: #fff;
}

.footer-social-links a:hover:before {
    background: #111;
}

.local-scroll {
    margin-bottom: 2vh;
}

#partners h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}

#partners .row {
    margin: 8vh 0;
}