@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

.navbar {
    position: fixed;
    z-index: 100;
    line-height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.navbar h1 {
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #fff;
}

.navbar img {
    padding: 0;
    max-height: 60%;
    position: absolute;  
    top: 0;  
    bottom: 0;
    left: 0;
    padding-left: 5vw;
    margin: auto;  
}

.navbar ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar ul li {
    float: left;
    padding-left: 5vw;

}

.navbar a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 14px;
    color: rgba(255,255,255, .7);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.navbar a:hover {
    color: #fff;
}

.menu {
    float: right;
    position: relative;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
    display: none;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu div {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

.move {
    background-color: #000;
}

@media only screen and (max-width : 992px) {
    
    .navbar {
        padding-left:2%;
        padding-right:2%;
    }
    
    .navbar ul li {
        padding-left:2vw;
    }
    
}

@media only screen and (max-width : 768px) {
    
    .navbar {
        text-align: center;
    }
    
    .links, .links ul {
        display: none;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .navbar h1 {
        float: left;
        display: inline-block;
    }
    
    .menu {
        display: inline-block !important;
    }
    
    .menu:hover {
        cursor: pointer;
    }

    .open {
        height: auto !important;

    }
    
    .open ul {
        float: none !important;
    }

    .open ul li{
        width: 100%;
    }

    .open > .links, .open > .links ul {
        display: block !important;
    }
    
}
