extends layout

block content
  header.hero#video
    .content
      iframe(width="1280" height="720" src="https://www.youtube-nocookie.com/embed/FmeFe8E2zXg?rel=0&amp;controls=0&amp;showinfo=0#&amp;autoplay=1" frameborder="0" allowfullscreen)
    a.keepgoing(href="#tech") ▼
  
  section.row#tech
    h3.subtitle
      em “A levitating rail-free pod design for SpaceX’s Hyperloop Global Competition”
  
  section.row
    div
      img(src="web/img/levitation.jpg")
    div
      h2 Levitation
      p The pod is equipped with a hybrid system of permanent magnet and electromagnet units being able to control lift, so it can hover from the top of the tube. 
      p Say goodbye to magnetic repulsion, it’s time for attraction!
      
  section.row
    div
      h2 Aerodynamics
      p Propulsion is obtained by expansion of the air with a nozzle located at the rear of the pod achieving speeds up to 1000 kilometers per hour. The turbine recovers energy from the flow, allowing a more efficient journey.
    div
      img(src="web/img/aerodynamics.jpg")
      
  section.row
    div
      img(src="web/img/ergonomics.jpg")
    div
      h2 Structure
      p The structure has been designed in reinforced carbon fiber. Furthermore, structural ribs are used to optimize the stress distribution across the cabin due to the pressure loading and thus ensure optimum material use in the passenger cabin.
      p A clean and ergonomic cabin layout offers the possibility to fit up to 30 passengers. 
  
  
  section.row
    div
      h2 Control
      p A system of multiple and redundant sensors with state-of-the-art technologies are used to achieve a fault-tolerant system offering a smooth journey.   
    div
      img(src="web/img/control.jpg")

  section.row
    div
      img(src="web/img/scalability.jpg")
    div
      h2 Scalability
      p A system of multiple and redundant sensors with state-of-the-art technologies are used to achieve a fault-tolerant system offering a smooth journey.   

  img#team.team(src="web/img/team.jpg")
  
  
  section#contact.contact
    form(method="POST" action="https://formspree.io/publicfrancisco@hotmail.com")
      h2.contact Discover Hyperloop
      div.row
        div
          input(name="name" placeholder="Name" required)
        div
          input(type="email" name="email" placeholder="Email" required)
      div.row
        div
          textarea(name="message" placeholder="Message" required)
      div.row
        div
          input(type="hidden" name="_subject" value="Web Contact")
          input(type="hidden" name="_cc" value="")
          button.icon-plane(type="submit") Send
  
  
  script(src="https://cdn.jsdelivr.net/umbrella/1.5.0/umbrella.min.js")
  script.
    
    u('#contact form').ajax(false, function(){
      u('[name="_cc"]').first().value = 'public' + 'francisco' + "@" + 'hotmail.com';
    });
    
    window.onscroll = function(e){
      if (e.pageY > 50) {
        document.querySelector('nav').classList.remove('transparent');
      } else {
        document.querySelector('nav').classList.add('transparent');
      }
    }