extends layout

block content
  header.hero#video
    .content
      iframe(width="1280" height="720" src="https://www.youtube-nocookie.com/embed/FmeFe8E2zXg?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen)
    a.keepgoing(href="#tech") ▼
    
  section.row#tech
    h3.subtitle
      em “A levitating rail-free pod design for SpaceX’s Hyperloop Global Competition”
    div#nav-buttons
      a.button.icon-magnet(href="Report.pdf" download="Technical Report Makers UPV Team Hyperloop.pdf" target="_blank") Technical Report
      |  
      a.button.icon-newspaper(href="https://drive.google.com/folderview?id=0B6yBcBUjVi8ZbF9yZFBKTEluQ1E" target="_blank") Press release
      |  
      a.button.icon-heart(href="#contact") Support us
  
  section.row.logo-row#as-seen-on
    div
      h2 As seen on
      img(src="web/img/as-seen-on/a3.png")
      img(src="web/img/as-seen-on/engineering.jpg")
      img(src="web/img/as-seen-on/geekwire.png")
      img(src="web/img/as-seen-on/kic.png")
      img(src="web/img/as-seen-on/marcaespana.jpg")
      img(src="web/img/as-seen-on/rtve.png")
      img(src="web/img/as-seen-on/texas_am.png")
      img(src="web/img/as-seen-on/upv_rtv.png")
      img(src="web/img/as-seen-on/wikipedia.png")
      img(src="web/img/as-seen-on/xataka.jpg")
  
  section.row
    div
      img(src="web/img/levitation.jpg")
    div
      h2 Levitation
      p The pod is equipped with a hybrid system of permanent magnet and electromagnet units being able to control lift, so it can hover from the top of the tube. 
      p Say goodbye to magnetic repulsion, it’s time for attraction!
      
  section.row
    div.small
      img(src="web/img/aerodynamics.jpg")
    div
      h2 Aerodynamics
      p Propulsion is obtained by expansion of the air with a nozzle located at the rear of the pod achieving speeds up to 1000 kilometers per hour. The turbine recovers energy from the flow, allowing a more efficient journey.
    div.big
      img(src="web/img/aerodynamics.jpg")
      
  section.row
    div
      img(src="web/img/ergonomics.jpg")
    div
      h2 Structure
      p The structure has been designed in reinforced carbon fiber. Furthermore, structural ribs are used to optimize the stress distribution across the cabin due to the pressure loading and thus ensure optimum material use in the passenger cabin.
      p A clean and ergonomic cabin layout offers the possibility to fit up to 30 passengers. 
  
  
  section.row
    div.small
      img(src="web/img/control.jpg")
    div
      h2 Control
      p A system of multiple and redundant sensors with state-of-the-art technologies are used to achieve a fault-tolerant system offering a smooth journey.   
    div.big
      img(src="web/img/control.jpg")

  section.row
    div
      img(src="web/img/scalability.jpg")
    div
      h2 Scalability
      p A system of multiple and redundant sensors with state-of-the-art technologies are used to achieve a fault-tolerant system offering a smooth journey.   

  img#team.team(src="web/img/team.jpg")
  
  section.row.names
    div
      a.pseudo.button(href="https://www.linkedin.com/in/abenedicto") Ángel Benedicto
      a.pseudo.button(href="https://www.linkedin.com/in/dorient") Daniel Orient
    div
      a.pseudo.button(href="https://www.linkedin.com/in/dpistoni") David Pistoni
      a.pseudo.button(href="https://www.linkedin.com/in/gretorro") Germán Torres
    div
      a.pseudo.button(href="https://www.linkedin.com/in/juanviba") Juan Vicén
      a.pseudo.button(href="https://www.upv.es/pls/oalu/sic_per.info_persona?PE=K5MRNhA8C7i81B6flitPYIJjBkeFaZvZ%2FwbsZNm7OV9F5qfM5p60C3aFOtRc0p0zpuPXgF6rU1gam2wjf%2FXa6WlsTJ8URoFpwHlLO9SFsFfW4WCXUhpPOQ%3D%3D") Prof. Vicente Dolz [Advisor]
  
  section#contact.contact
    form(method="POST" action="https://formspree.io/hyperloopupv@gmail.com")
      h2.contact Discover Hyperloop
      div.row
        div
          input(name="name" placeholder="Name" required)
        div
          input(type="email" name="email" placeholder="Email" required)
      div.row
        div
          textarea(name="message" placeholder="Message" required)
      div.row
        div
          input(type="hidden" name="_subject" value="Web Contact")
          input(type="hidden" name="_cc" value="")
          button.icon-plane(type="submit") Send
        
          span.social
            a.pseudo.button.icon-f(href="https://www.facebook.com/Hyperloop-UPV-Team-1530701900582389/?fref=ts" taget="_blank")
              span.big Facebook
            = ' '
            a.pseudo.button.icon-t(href="https://twitter.com/hyperloopupv" taget="_blank")
              span.big Twitter
  
  section.row.logo-row#logos
    div#sponsors
      h2 Sponsors
      img(src="web/img/logo_stadler.png")
      img(src="web/img/logo_etsid.jpg")
      img#vanidadUPV(src="web/img/logo_upv.png")
    div#project-logo
      img(src="web/img/logo.png")
  
  footer
    p Website made with ♥ by 
      a(href="http://francisco.io/" target="_blank") Francisco Presencia
      |  and logo by 
      a(href="https://www.linkedin.com/in/demetriomb" target="_blank") Demetrio Muñoz
  
  script(src="https://cdn.jsdelivr.net/sweetalert/1.1.3/sweetalert.min.js" integrity="sha256-egVvxkq6UBCQyKzRBrDHu8miZ5FOaVrjSqQqauKglKc=" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/umbrella/1.5.0/umbrella.min.js" integrity="sha256-EQ9XR+aKR8L5uN9A2kTdVJWLh9XNpThlzF8R9fDBjoA=" crossorigin="anonymous")
  script.
    
    u('#contact form').ajax(function(err, data){
      if (err) {
        swal("Oops!", "Something went wrong, please contact us at hyperloopupv@gmail.com", "error");
      } else {
        swal("Awesome!", "We'll get in touch as soon as possible", "success");
        u('#contact form').first().reset();
      }
    }, function(){
      u('[name="_cc"]').first().value = 'public' + 'francisco' + "@" + 'hotmail.com';
    });
