doctype html
html
  head
    title Hyperloop UPV
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="keywords" content="hyperloop, valencia, upv, makers")
    meta(name="description" content="A levitating rail-free pod design for SpaceX’s Hyperloop Global Competition by Makers UPV")
    meta(property="og:url" content="http://hyperloopupv.com/")
    meta(property="og:title" content="Hyperloop UPV")
    meta(property="og:description" content="A levitating rail-free pod design for SpaceX’s Hyperloop Global Competition by Makers UPV")
    meta(property="og:image" content="http://hyperloopupv.com/web/img/levitation.jpg")
    link(href="web/fontello.css" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/picnicss/5.0.1/plugins.min.css" rel="stylesheet")
    link(href="web/style.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css")

  body
    nav.transparent
      div.brand
        a(href="#")
          img.logo(src="web/img/logo.png")
          span.big Hyperloop UPV
      
      div.menu
        a.pseudo.button.icon-play(href="#video")
          span.text Video
        a.pseudo.button.icon-train(href="#tech")
          span.text Tech
        a.pseudo.button.icon-users(href="#team")
          span.text Team
        a.button.icon-plane(href="#contact")
          span.text Contact

    block content